:host:not(.sky-dock-unbound) {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

body > :host:not(.sky-dock-unbound) {
  position: fixed;
}
