<h1>
  Visual tests
</h1>

<ul>
  <li>
    <a routerLink="visual/affix">Affix</a>
  </li>
  <li>
    <a routerLink="visual/dock">Dock</a>
  </li>
  <li>
    <a routerLink="visual/dynamic-component">Dynamic component</a>
  </li>
  <li>
    <a routerLink="visual/id">ID</a>
  </li>
  <li>
    <a routerLink="visual/media-query">Media queries</a>
  </li>
  <li>
    <a routerLink="visual/numeric">Numeric</a>
  </li>
  <li>
    <a routerLink="visual/overlay">Overlay</a>
  </li>
  <li>
    <a routerLink="visual/viewkeeper">Viewkeeper</a>
  </li>
</ul>
