<div style="display:flex;align-items:center;justify-content:center;height:1500px;width:1500px;">

  <div
    class="parent-scrollable"
    [ngClass]="{
      'enable-scroll': enableScrollableParent
    }"
  >
    <div class="parent-scrollable-canvas">
      <div class="target" style="width:50px;height:50px;" #target>
        <div class="target target-gap" style="width:40px;height:40px;">
          <div class="target" style="width:30px;height:30px;">
            <div class="target target-gap" style="width:20px;height:20px;">
              <div class="target" style="width:10px;height:10px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="subject"
    [skyAffixTo]="target"
    [affixPlacement]="placement"
    [affixHorizontalAlignment]="horizontalAlignment"
    [affixVerticalAlignment]="verticalAlignment"
    [affixIsSticky]="isSticky"
  ></div>
</div>
<div class="toolbar">
  <table style="text-align:left;margin-bottom:10px;">
    <tr>
      <td>Placement:</td>
      <td>{{ placement }}</td>
    </tr>
    <tr>
      <td>Alignment:</td>
      <td *ngIf="placement === 'above' || placement === 'below'">{{ horizontalAlignment }}</td>
      <td *ngIf="placement === 'left' || placement === 'right'">{{ verticalAlignment }}</td>
    </tr>
    <tr>
      <td>Sticky:</td>
      <td>{{ isSticky }}</td>
    </tr>
  </table>
  <button
    class="sky-btn sky-btn-primary sky-margin-inline-default"
    type="button"
    [disabled]="disabled"
    (click)="runAffixCycle()"
  >
    Run affix cycle
  </button>
  <button
    class="sky-btn sky-btn-default sky-margin-inline-default"
    type="button"
    [disabled]="disabled"
    (click)="isSticky = !isSticky"
  >
    Toggle stickiness
  </button>
  <button
    class="sky-btn sky-btn-default"
    type="button"
    [disabled]="disabled"
    (click)="toggleScrollableParent()"
  >
    Toggle scrollable parent
  </button>
</div>