<button
  class="sky-btn"
  type="button"
  (click)="launchDefaultOverlay()"
>
  Launch default overlay
</button>

<button
  class="sky-btn"
  type="button"
  (click)="launchCustomOverlay()"
>
  Launch custom overlay
</button>

<select
  [compareWith]="compareFn"
  [(ngModel)]="affixOptions"
>
  <option *ngFor="let choice of choices"
    [ngValue]="choice.config"
  >
    {{ choice.label }}
  </option>
</select>
<div style="width:15000px;height:1px;"></div>
<div style="width:350px;height:350px;overflow:auto;">
  <div
    style="text-align:center;padding:500px;width:1500px;height:1500px;background:red;"
  >
    <span style="display:block;width:25px;height:25px;background-color:black;" #target></span>
  </div>
</div>
